ENV=dev

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=cv_recommender

OPENAI_API_KEY=
GEMINI_API_KEY=
DEFAULT_LLM_PROVIDER=openai

API_KEY=dev-local-api-key

AWS_REGION=eu-west-1
S3_BUCKET=cv-recommender-uploads-dev
